html,body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #22222D url(images/img01.png) repeat;
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	color: #545454;
}

h1,h2,h3 {
	margin: 0;
	padding: 0;
	font-weight: 300;
}

h2 {
	padding: 0px 0px 20px 0px;
	font-size: 2em;
}

p,ol,ul {
	margin-top: 0px;
}

p {
	line-height: 180%;
}

strong {
	
}

a {
	color: #141414;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
	
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */
#wrapper {
	overflow: hidden;
	width: 1051px;
	margin: 3px auto;
	background: #2e2f2a;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/** HEADER */
#header {
	overflow: hidden;
	height: 98px;
	width: 1019px;
	margin: 0 auto;
	background: #8dbb30 url(images/header.png);
}

/* Logo */
#logo {
	float: left;
	width: 350px;
	padding: 20px 0px 0px 50px;
}

#logo h1 {
	padding: 5px 10px 0px 0px;
}

#logo h1 a {
	text-decoration: none;
	font-size: 1.5em;
	font-weight: 300;
	color: #FFFFFF;
}

#logo p {
	display: block;
	padding: 0px 0px 0px 0px;
	letter-spacing: 1px;
	font-size: 1em;
	color: #7C7C7C;
}

#logo p a {
	color: #7C7C7C;
}

/* Menu */
#menu {
	margin: 0 auto;
	width: 1051px;
	height: 72px;
	background: #609b25 url("images/menubar.png");
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	background: url("images/seperator.png") right center no-repeat;
}

#menu li.last {
	clear: right;
	background: transparent;
}

#menu a {
	display: block;
	padding: 14px 15px;
	text-decoration: none;
	text-align: center;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 17px;
	width: 135px;
	height: 44px;
	line-height: 44px;
}

#menu a:hover,#menu .current_page_item a,#menu li.active a {
	text-decoration: none;
	color: #FFFFFF;
	background: url("images/selected_menu.png") center center no-repeat;
}

/** PAGE */
#page {
	overflow: hidden;
	width: 1051px;
	background: #2e2e2a url(images/img01.png) repeat;
	color: #2e2e2a;
}

#page h2 {
	font-size: 18px;
	text-transform: uppercase;
}

/** CONTENT */
#content {
	float: left;
	width: 750px;
}

/** SIDEBAR */
#sidebar {
	float: right;
	width: 300px;
}

/* Footer */
#footer {
	background: url("images/footer.png") no-repeat;
	width: 1051px;
	position: relative;
	padding: 0 0 30px 0;
}

#footer.normal {
	background: url("images/footer_normal.png") center top no-repeat;
	height: 200px;
}

#footer p {
	text-align: center;
}

#footer a {
	color: #545454;
}

/* Three Column */
#three-column {
	overflow: hidden;
	margin: 0px 50px;
	padding: 50px 0px;
}

#three-column #tbox1 {
	float: left;
	width: 400px;
	margin-right: 50px;
}

#three-column #tbox2 {
	float: left;
	width: 300px;
}

#three-column #tbox3 {
	float: right;
	width: 300px;
}

/* List Style 1 */
ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 10px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style1 a {
	text-decoration: none;
	color: #545454;
}

ul.style1 a:hover {
	text-decoration: underline;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

/* List style 2 */
ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 25px 0px 15px 0px;
	border-top: 1px solid #DDDDDD;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style2 h3 {
	padding: 0px 0px 10px 0px;
}

ul.style2 h3 a {
	color: #4F4F4F;
}

ul.style2 a {
	text-decoration: none;
	color: #919191;
}

ul.style2 a:hover {
	text-decoration: underline;
}

/* Button Style 1 */
.button-style {
	display: inline-block;
	margin-top: 20px;
	padding: 7px 20px;
	background: #22222D url(images/img01.png) repeat;
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
}

/* My Custom Css */
#homepage {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: #2e2e2a solid repeat;
	display: block;
	position: relative;
}

#logo .logo {
	text-indent: -10000;
	opacity: 0;
}

#page_container {
	width: 1029px;
	height: auto;
	background: url("images/searchbox.png") no-repeat;
	margin: 0 auto;
}

#search_container {
	width: 313px;
	height: auto;
	padding: 45px 25px 0px 30px;
	float: left;
}

#search_container h2 {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	line-height: 22px;
}

#search_container p {
	margin: 0 auto;
	text-align: center;
	font-size: 11px;
	line-height: 15px;
	height: 20px;
}

#image_container {
	float: left;
	padding-top: 4px;
}

#hoz_line {
	background: url("images/hz_line.png");
	width: 310px;
	height: 1px;
	margin-top: 40px;
}

#footer_content {
	overflow: hidden;
	width: 1026px;
	height: 307px;
	margin: 0 0 30px 10px;
	background: url("images/footer_container.png");
}

#copyright {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}

#copyright p {
	color: #FFFFFF;
	font-size: 12px;
	margin: 0 auto;
}

#intro {
	width: 320px;
	padding: 0 25px 0 24px;
	float: left;
}

#footer h4 {
	font-size: 20px;
	color: #FFFFFF;
	font-style: italic;
	margin: 15px 0;
}

#intro p {
	color: #FFFFFF;
	font-size: 15px;
	line-height: 17px;
	text-align: left;
}

#news_container {
	padding: 0 25px 0 25px;
	float: left;
}

#news_list {
	
}

.news_item {
	display: block;
	position: relative;
	margin-bottom: 20px;
}

.news_item .images {
	float: left;
	width: 82px;
	height: 63px;
	margin-right: 5px;
}

.news_item .images {
	width: 82px;
	height: auto;
}

.news_item .news_info {
	float: left;
	color: #FFFFFF;
}

.news_item .news_info a {
	font-size: 12px;
	font-weight: 800;
	color: #FFFFFF !important;
	text-decoration: none;
}

.news_item .news_info p.news_content {
	font-size: 11px;
	overflow: hidden;
	line-height: 12px;
	width: 500px;
	text-align: left !important;
	margin: 8px 0 0 0;
	height: 36px;
	vertical-align: bottom;
}

#type_filter {
	margin: 20px 0 15px 0;
	position: relative;
}

#type_filter .filter_item {
	margin: 0 0 5px 0;
	width: 170px;
}

#type_filter .filter_item label.filter_label {
	font-size: 11px;
	color: #353535;
	margin: 0;
}

#type_filter .filter_item .filter_ddl {
	width: 170px;
	margin: 5px 0 0 0;
	color: #353535;
	font-size: 11px;
	height: 25px;
	margin: 0;
}

#kingdom_choose {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 120px;
	height: 72px;
	background: url("images/kingdom_chose.png");
	padding: 5px 0 0 5px;
}

#kingdom_choose input {
	display: block;
	float: left;
	clear: left;
	position: relative;
	top: -1px;
	margin: 3px 3px 0 5px;
}

#kingdom_choose .radio {
	padding: 0;
}

#kingdom_choose label {
	color: #353535;
	font-size: 11px;
	display: block;
	float: left;
	margin: 0px 0 5px 3px;
}

#search_input {
	position: relative;
	width: 312px;
	height: 34px;
	padding: 4px;
	background: url("images/search_input.png");
}

#search_input input {
	border: none;
	color: #333;
	font-size: 15px;
	padding: 5px;
	width: 267px;
	height: 34px;
	margin: 0;
}

#search_input .search_btn {
	position: absolute;
	width: 44px;
	height: 35px;
	cursor: pointer;
	text-indent: -99999px;
	text-align: center;
	background-color: Transparent;
	border: none;
}

#search_text .decoration {
	display: block;
	position: relative;
	margin: 5px 0 5px 0;
}

#search_text .decoration label {
	position: absolute;
	right: 0;
	font-size: 11px;
	color: #353535;
}

#search_text .decoration img {
	position: absolute;
	top: 2px;
}

/*NEWS PAGE CONTENT*/
#news_content,.page_content {
	background: #FFFFFF;
	width: 987px;
	position: relative;
	margin: 0 auto;
	padding: 15px 10px 30px 20px;
}

.cateogory_item {
	float: left;
	margin: 0 5px 10px 0;
}

.category_title {
	margin-bottom: 10px;
}

.category_title h4 {
	color: #2e2f2a;
	font-size: 13px;
	text-transform: uppercase;
	margin: 10px 0;
}

.hoz_line {
	height: 3px;
	width: 487px;
	background: url("images/hoz_line_news.png") no-repeat;
}

.first_news {
	position: relative;
}

.first_news .images {
	float: left;
	width: 170px;
	margin: 0 5px 0 0;
}

.first_news .images img {
	width: 170px;
	height: auto;
	position: relative;
	bottom: 0;
}

.first_news .news_content {
	float: left;
	width: 305px;
}

.first_news .news_content a {
	font-size: 13px;
	color: #2e2f2a;
	text-decoration: none;
	font-weight: 600;
}

.first_news .news_content p {
	font-size: 12px;
	color: #2e2f2a;
	line-height: 14px;
	margin: 16px 0 0 0;
	height: 100px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.news_list {
	margin-top: 5px;
}

.news_list .news_link {
	width: 480px;
	overflow: hidden;
	position: relative;
	margin-bottom: 5px;
}

.news_list .list-view {
	padding: 0;
}

.news_list a {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-decoration: none;
	color: #919191;
	font-size: 11px;
}

.news_list .news_link img {
	position: relative;
	left: -4px;
}

/*Map Page*/
#nationalParks_content.page_content {
	padding: 15px;
	height: auto;
}

#side_menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0 15px 0 0;
	border: 2px;
	background-color: #eee;
	overflow: auto;
	height: 500px;
	width: 200px;
	float: left;
}

#side_menu li {
	font-size: 0.9em;
	border-bottom: 1px solid #aaa;
	padding: 5px;
}

#map_canvas {
	float: left;
	width: 772px;
	height: 500px;
}

/*Discussion Page*/
#post_button {
	background: url("images/post_button.png") no-repeat center center;
	width: 102px;
	height: 27px;
	font-size: 11px;
	color: #FFFFFF;
	display: block;
	text-decoration: none;
	position: relative;
	float: left;
	bottom: 5px;
}

#post_button span {
	position: absolute;
	top: 6px;
	left: 15px;
}

#action_nav {
	display: block;
	margin: 10px 0 0 0;
	width: 972px;
}

#action_nav h4 {
	margin: 0;
	text-transform: uppercase;
	font-size: 14px;
	color: #3f3f3f;
	float: left;
	margin: 0 0 0 10px;
}

#facebook_button {
	height: 35px;
	width: 165px;
	display: block;
	float: right;
	background: url("images/facebook_button.png");
	position: relative;
	bottom: 8px;
}

.hoz_line.long {
	width: 971px;
	background: url("images/hoz_line_long.png");
	margin: 5px 0 10px 0;
}

.thread_item {
	display: block;
	margin: 15px 0;
}

.avatar {
	display: block;
	float: left;
	width: 80px;
	height: 80px;
}

.avatar img {
	width: 76px;
	height: 76px;
	border: 2px solid #666; /* top-left corner */
	border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px; /* bottom-right corner */
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px; /* bottom-left corner */
	border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
}

.thread_info {
	float: left;
	margin: 0 0 0 5px;
	width: 885px;
}

.thread_title_info img {
	width: 15px;
	height: 15px;
	float: left;
}

.thread_title {
	text-decoration: none;
	font-size: 12px;
	float: left;
	margin: 0 5px;
	color: #505050;
}

.date_text {
	float: left;
	margin: 0;
	font-size: 12px;
	color: #8b8b8b;
	position: relative;
	bottom: 2px;
}

.thread_content p {
	color: #2f5607;
	font-size: 12px;
	padding: 8px 0;
	margin: 0;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 600;
	height: 20px;
	line-height: 15px;
}

.thread_content p a {
	color: #2f5607;
}

.thread_content p a:hover {
	color: #06e;
}

.thread_stats {
	display: block;
}

.thread_stats label {
	margin: 0;
	display: inline;
}

.thread_stats img {
	width: 17px;
	height: 17px;
	position: relative;
}

.thread_stats .stats_text {
	color: #e97d13;
}

.list-view {
	padding: 0;
}

#profile_container {
	display: block;
	float: right;
	color: #3f3f3f;
	line-height: 30px;
	vertical-align: center;
}

#profile,#notification {
	float: left;
}

#profile img {
	position: relative;
	top: -5px;
	width: 30px;
	height: 30px;
	margin: 0 5px 0 0;
	float: left;
	border: 1px solid #666; /* top-left corner */
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px; /* bottom-right corner */
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px; /* bottom-left corner */
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

#profile label {
	margin: 0;
	padding: 0;
	float: left;
}

.ver_line {
	width: 1px;
	height: 20px;
	background: #bab76e;
	float: left;
	margin: 0 10px;
}

#notification label {
	margin: 0;
	padding: 0;
}

/* Loading  */
.hasLoading {
	background-color: #eee;
	background-image: url('../images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 1;
}

.hasloading * {
	opacity: .8;
}

/* KCarousel Overide CSs */
.jcarousel-skin-tango .jcarousel-container-horizontal {
	width: 845px;
	padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	height: 135px;
	width: 245px;
}

element.style {
	float: left;
	list-style: none outside none;
	width: 189px;
}

.jcarousel-skin-tango .jcarousel-item {
	width: 175px;
	height: 175px;
}

.jcarousel-skin-tango .jcarousel-item img {
	
}

/*CREATURE LIST PAGE*/
#list-creature.page_content {
	padding-top: 0;
	width: 1007px;
	padding-left: 0;
}

.search_container label {
	line-height: 12px;
}

.search_container {
	width: 1007px;
	height: 146px;
	background: url("images/search_container.png") no-repeat;
	margin: 0 auto;
	padding: 20px 0 10px 20px;
}

.search_container .seach_title {
	display: inline;
	margin: 0 auto;
	text-align: center;
}

.search_container .seach_title h2 {
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.search_container .seach_title p {
	font-size: 11px;
	line-height: 14px;
	text-align: center;
}

.hoz_line.search {
	background: #bab76e;
	width: 300px;
	height: 1.5px;
	margin: 0 auto;
}

.search_container .filter_item,.search_container #kingdom_choose,.search_container #type_filter,.search_container #search_text
	{
	float: left;
	display: block;
}

.search_container #kingdom_choose {
	position: static;
	background: transparent;
	width: 80px;
	padding: 0;
	margin: 0 10px 0 0;
}

.search_container #type_filter .filter_item {
	margin: 0 15px 0 0;
}

.search_container #search_text .decoration label {
	color: #bab76e;
}

.search_container #search_text {
	margin: 20px 0;
}

/*POST DIALOG*/
#post_container {
	width: 460px;
	height: 280px;
	background: #FFFFFF;
}

#post_container label {
	line-height: 12px;
}

#post_container .action_bar {
	height: 30px;
	display: block;
	background: #07B800;
}

#post_container .action_bar .title {
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 0 -1px 0 rgba(0, 30, 84, .3);
	white-space: nowrap;
	font-size: 16px;
	line-height: 25px;
	color: #FFF;
	float: left;
}

#post_container .close_button {
	float: right;
	border-left: 1px solid
}

#post_container .close_button img {
	width: 28px;
	height: 28px;
}

#post_container .ver_line {
	width: 2px;
	height: 28px;
	background: url("images/ver_divider.gif") no-repeat;
	float: right;
}

.post_title label {
	display: block;
	font-size: 14px;
	font-weight: 800;
}

#post_container .post_title {
	margin-left: 10px;
	float: left;
}

#post_container .post_title input {
	width: 370px;
}

#post_container .post_content {
	position: relative;
}

#post_container .post_content textarea {
	width: 100%;
	height: 140px;
}

#post_container .info_content {
	padding: 10px 0;
}

#post_container .button-menu {
	height: 40px;
}

#post_container .button-menu button {
	float: right;
}

/* Creature Detail */
#creature_content {
	padding: 20px 20px;
}

#creature_content .big_images {
	float: left;
	width: 295px;
	height: 200px;
	text-align: center;
}

#creature_content .big_images img {
	width: auto;
	height: 200px;
	margin: 0 auto;
}

#creature_content .small_images {
	height: 78px;
}

#creature_content .small_images img {
	height: 78px;
	width: auto;
	margin: 0 10px 0 0 ;
}

#creature_content .creature_info {
	float: left;
	margin: 0 0 0 20px;
}

#creature_content .creature_info .name_item {
	display: block;
	height: 25px;
	line-height: 25px;
	font-weight: 800;
}

#creature_content .creature_info .name_item .name {
	display: block;
	width: 150px;
	font-weight: 800;
	font-size: 13px;
	float: left;
}

#creature_content .creature_info .name_item .vn_name {
	color: #006600;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 800;
}

#creature_content .creature_info .name_item .latin_name {
	font-size: 13px;
	color: #990000;
	font-style: italic;
}

.normal_name,.vn_name,.latin_name {
	float: left;
}

#creature_content .creature_content {
	display: block;
	padding: 0 20px;
}

/*Thread Detail Page*/
#thread_detail_container
{
	color: #2f5607;
	font: normal 13px arial, verdana, tahoma, sans-serif;
	width: 971px;
}

#thread_detail_container h2.thread_title_new
{
	background: #2a6d24 url("images/gradient-bg.png") repeat-x left 50%;
	color: #fff;
	display: block;
	clear: both;
	font-size: 17px;
	font-weight: normal;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	padding: 8px !important;
	margin: 0 !important;
	overflow: hidden;
	line-height: 1;
}

#thread_detail_container h2 .main_topic_title
{
	float: left;
	color: #fff;
	font-size: 17px;
}

#thread_detail_container .thread_block
{
	margin: 0;
	padding: 0;
	top: 0;
	background: #fafbfc;
	border-bottom: 6px solid #488D4B;
}

#thread_detail_container .thread_block .thread_date
{
	padding: 8px;
	background: #DFE4DE;
	color: #1d3652;
	font-weight: 800;
}

#thread_detail_container .thread_block .thread_date span
{
	font-size: 11px;
	font-weight: normal;
	padding-top: 4px;
	display: block;
}
#thread_detail_container .author_block
{
	text-align: center;
	font-size: 0.9em;
	border-right: 1px solid #e4ebf3;
	margin: 15px -5px 10px 0px;
	width: 225px;
	float: left;
}

#thread_detail_container .author_block .user_avatar
{
	margin: 0;
	padding: 0;
	text-align: center;
}

#thread_detail_container .author_block .user_avatar img
{
	height: auto;
	width: 150px;
}

#thread_detail_container .author_block .user_name
{
	margin-top: 5px;
	font-weight: 800;
}

#thread_detail_container .post_body
{
	margin: 0 0 25px 235px;
}

#thread_detail_container .post_body .post_entry_content
{
	margin-top: 3px;
	padding: 10px;
}

#thread_detail_container .thread_control
{
	background-image: url("images/gradient-bg.png");
	background-repeat: repeat-x;
	background-position: 50%;
	font-size: 0.8em;
	text-align: right;
	padding: 6px 10px 28px 6px;
	clear: both;
	background-color: #DFE4DE;
}